<div class="accountManagement">
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
} %>

<%- messages() %>

<h1>Welcome <%= accountData.account_firstname %></h1>
<ul>
    <li>
        <a href="/account/account-update/<%= accountData.account_id %>" title="Update Account Information">Update Account Information</a>
    </li>
</ul>

<% if (accountData.account_type === "employee" || accountData.account_type === "admin") { %>
    <h2>Inventory Management</h2>
    <div><a href="/inv/" title="Access the inventory management page">Inventory Management</a></div>
<% } %>

<h2>Personal Reviews</h2>
<%- reviews %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
</div>