<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
} %>

<%- messages() %>

<form class="form" id="addInventory" action="add-inventory" method="post">
    <fieldset>
        <legend>Add to the inventory:</legend>
        <label><%- classificationSelect %></label>
        <label>Make: <input type="text" id="invMake" name="inv_make" required pattern="[A-Za-z]+" value="<%= locals.inv_make %>"></label>
        <label>Model: <input type="text" id="invModel" name="inv_model" required pattern="[A-Za-z]+" value="<%= locals.inv_model %>"></label>
        <label>Description: <input type="text" id="invDescription" name="inv_description" required pattern="[A-Za-z]+" value="<%= locals.inv_description %>"></label>
        <label>Image: <input type="text" id="invImage" name="inv_image" required value="/images/vehicles/no-image.png"></label>
        <label>Image Thumbnail: <input type="text" id="invThumbnail" name="inv_thumbnail" required value="/images/vehicles/no-image-tn.png"></label>
        <label>Price: $<input type="number" id="invPrice" name="inv_price" required pattern="[0-9]+" value="<%= locals.inv_price %>"></label>
        <label>Year: <input type="number" id="invYear" name="inv_year" required pattern="[0-9]+" value="<%= locals.inv_year %>"></label>
        <label>Milage: <input type="number" id="invMiles" name="inv_miles" required pattern="[0-9]+" value="<%= locals.inv_milage %>"></label>
        <label>Color: <input type="text" id="invColor" name="inv_color" required pattern="[A-Za-z]+" value="<%= locals.inv_color %>"></label>
        <input type="submit" value="Add This Vehicle">
    </fieldset>
</form>
